@import "tailwindcss";

:root {
  --font-kings: 'Kings', cursive;
  --font-monoton: 'Monoton', sans-serif;
}

@layer utilities {
  .font-kings {
    font-family: var(--font-kings);
  }

  .font-monoton {
    font-family: var(--font-monoton);
  }
}